.activeThumbnail {
  display: flex;
  height: 70vh;

  justify-content: space-around;
  align-items: center;
  &__description {
    //
    width: 40vh;
  }
  &__image {
    //
    width: 40vh;
    height: 75%;
    border-radius: 25px;
  }
}
