body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.carousel {
  height: 30vh;
  display: flex;
  gap: 25px;
}

.box {
  height: 150px;
  width: 150px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slide {
  background-color: yellow;
}

@import 'components/select';
@import 'components/activeThumbnail';
@import 'components/carousel';
